.text-xl{
    font-size: 18px;
    color: #444;
    padding-top: 60px;
    padding-bottom: 40px;
}

.text-4xl{
    padding-top: 60px;
    font-size: 65px;
}
.px-1{
    padding-left: 10px;
    padding-right: 10px;
}
svg{
    font-size: 35px;
}

img{
    font-size: 200px;
}

footer.py-10 {
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}